* {
    font-family: "Arial", sans-serif;  
}

.main {
    display: grid;

    grid-template-areas:
        "header header header"
        "main sidebar sidebar"
        "bottombar bottombar bottombar";

    grid-template-columns: 20px 1fr 200px;
    grid-template-rows: auto 1fr auto;

    height: 100vh;
}

.header {
    grid-area: header;
    background: #cccccc;
    padding: 5px 10px 5px 10px;
    overflow-x: hidden; /* Disable horizontal scroll */
    font-size: 24px;
    height:30px;
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    width 100%;
    overflow: hidden;
}

.center-main {
    grid-area: main;
    background-color: white;
    margin-left: 170px;
    margin-top: 40px;
    padding: 5px 10px 10px 10px;
    margin-bottom: 70px;
}

.sidebar {
    height: 100%; 
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #eeeeee; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    margin-top:50px;
    margin-left: 8px;
    padding-left: 2px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.footer {
    background-color: aqua;
    background-color: #DDDDDD;
    text-align: left;
    padding: 10px 15px 10px 10px;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    margin-left:168px;
    display: flex;
    align-items: center;
}

#input {
    resize: none;
    width: 80%;
    height: 100%;
    font-size: 28px;
    background-color: #DDDDDD;
    text-decoration-color: black;
    border: none;
    margin-right: 20px;
}

#input::placeholder {
    color: black;
    opacity: 25%;
}

#run-button {
    font-size: 28px;
    flex 20%;
    border: none;
    background-color: #dddddd; 
    padding: 18px 20px 20px 15px;
    position: fixed;
    bottom:0;
    right: 0;
}

#run-button:hover {
    background-color: #eeeeee; 
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /*width: 100%;*/
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

td:nth-child(even) {
    background-color: #eeeeee;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
}


.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
} 

#sidebar-label {
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 15px;
    padding-left: 2px;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

.left {
  width: 60%;
}

.right {
    width: 40%;
    text-align: right;
    padding: 0 0 0 0;
}

.link-button {
    border: none;
    font-size: 24px;
    background: #cccccc;
    height: 100%;
}
.link-button:hover {
    background: #bbbbbb;
}

#input-head {
    font-size: 28px;
}

#demo {
    opacity: 50%;
    font-size:24px;
}

#tree-headline {
    font-size:28px;
    font-family: arial, sans-serif;
    padding-top: 30px;
    opacity: 50%;
}

#next-tree-headline {
    font-size:28px;
    font-family: arial, sans-serif;
    padding-top: 30px;
    opacity: 85%;
}

.array-button {
    border: none;
    background: #eeeeee;
    font-size: 18px;
    height: 100%;
    padding: 15 5 15 5;
}

.array-button:hover {
    background: #bbbbbb;
}